<!--
<h2 class = 'my-interest'>I Like a Lot of Things...They Just Happen To Be Food!</h2>
    <span>
        <a href='https://funkyfriesandburgers.com/our-menu/' class = 'my-interest my-interest-1'> 
        <span  class = 'my-interest' >Burger with a fried mac n cheese patty and Fries, </span>
        <img src='SneakerLogo1.png' alt='Burger-image-placeholder' style="display: inline;">
        </a> 
    </span>
    <span>
        <a href='http://phocadaogrill.com/' class = 'my-interest my-interest-2'>
        <div  class = 'my-interest'>Large Rare Steak Pho, </div>
        <img src='SneakerLogo1.png' alt='Burger-image-placeholder' style="display: inline;"> 
        </a> 
    </span>
    <span>
        <a href='https://www.dirtybirdsbarandgrill.com/' class = 'my-interest my-interest-3'> 
        <div  class = 'my-interest'>and some delicious Three-Pete Wings.</div>
        <img src='SneakerLogo1.png' alt='Burger-image-placeholder' style="display: inline;"> 
        </a>
    </span>
-->
<h2>These are my Interest!</h2>
<div class='flexbox-container'>
    <div class='flexbox-item flexbox-item-1'>
       <div>Burger with a fried mac n cheese patty and Fries</div> 
       <img class ='flexbox-item-1 flexbox-item-1-img1' src='SneakerLogo1.png' alt='burger'>
    </div>
    <div class='flexbox-item flexbox-item-2'></div>
    <div class='flexbox-item flexbox-item-3'></div>
</div>