
<!-- Add buttons, links, and other flair to jobs section content. Links can to be concepts ive learned or something like that-->
<!-- Create a what ive done last year sections. Make background blue and chang food background to white. Make what ive done this year creative and visually pleasing-->
<div class= 'section-head'><b>&mdash;&emsp;My Resume&emsp;&mdash;</b></div>
<!-- Job 1-->
<div class="section group">
	<div class="col span_1_of_2">
        <img src= 'VizExplorerLogo265x150.jpg' alt='Test Alt' style="display: inline">
    </div>

	<div class="col span_2_of_2">
    <div class ='job-info-section jobcompany' id ='jobcompany1'>VizExplorer</div>
    <div class ='job-info-section jobrole' id ='jobrole1'>Delivery Analyst, July 2019 - Jan 2020</div>
    <div class ='job-info-section jobdate' id ='jobdate1'>San Diego, CA</div>
    <br>
    <p id = "description1">VizExplorer is a software-based solutions provider for casinos and bars internationally.</p>
    <p id='body11'>• Configured proprietary applications using SQL to provide custom solutions to customers.</p>
    <p id='body12'>• Traveled on-site to the customer for final data validation and training for proprietary software.</p>
    <p id='body13'>• Created documentation and recorded training videos for VizExplorer’s internal knowledge base.</p>
    <p id='body14'>• Identified and corrected front-end bugs within VizExplorer’s proprietary software.</p>
    </div>
</div>
<!-- change -->
<!-- Job 2-->
<div class="section group">
	<div class="col span_1_of_2">
        <img src= 'SCSI2.jpg' alt='Test Alt' style="display: inline">
    </div>

	<div class="col span_2_of_2">
    <div class ='job-info-section jobcompany' id ='jobcompany2'>Southern California Safety Institute (SCSI)</div>
    <div class ='job-info-section jobrole' id ='jobrole2'>Web Developer, Aug 2018 – Feb 2019</div>
    <div class ='job-info-section jobdate' id ='jobdate2'>San Diego, CA</div>
    <p id = "description2">SCSI is a safety training center of excellence offering certificate programs to global leaders in aviation, oil, healthcare industries.</p>
    <p id='body21'>•Formulated the content delivery model and structural improvements to align with the three-click rule.</p>
    <p id='body22'>•Designed wireframes and obtained client acceptance on website functionality; managed change requests.</p>
    <p id='body23'>•Created the front-end design to optimize the customer experience and promote repeat business and loyal customers.</p>
    <p id='body24'>•Updated content to align with modern design standards and promote scalability.</p>
    </div>
</div>

<!-- Job 3-->
<div class="section group">
	<div class="col span_1_of_2">
        <img src= 'SneakerLogo1.png' alt='Test Alt' style="display: inline">
    </div>

	<div class="col span_2_of_2">
    <div class ='job-info-section jobcompany' id ='jobcompany3'>Business Consulting Group (BCG)</div>
    <div class ='job-info-section jobrole' id ='jobrole3'>Data Analyst / Project Manager, Jan 2018 – Jun 2018</div>
    <div class ='job-info-section jobdate' id ='jobdate3'>San Diego, CA</div>
    <p id = "description3">BCG is a recognized student organization providing services in business management, research, consultancy and analysis.</p>
    <p id='body31'>•Analyzed product performance for net profit to revenue ratio, labor to revenue ratio, operating revenue ratio, fixed to variable ratio and costs of goods sold (COGS) to highlight categories of revenue generation.</p>
    <p id='body32'>•Consulting services to organize and prepare financial information for MetroPCS for buyout consideration.</p>
    <p id='body33'>•Created dataset from unstructured sales receipt data to identify patterns and trends.</p>
    </div>
</div>

<!-- Job 4-->
<div class="section group">
	<div class="col span_1_of_2">
        <img src= 'SneakerLogo1.png' alt='Test Alt' style="display: inline">
    </div>

	<div class="col span_2_of_2">
    <div class ='job-info-section jobcompany' id ='jobcompany1'>Business Consulting Group (BCG)</div>
    <div class ='job-info-section jobrole' id ='jobrole1'>Associate Data Analyst, Jan 2017 – Dec 2017</div>
    <div class ='job-info-section jobdate' id ='jobdate4'>San Diego, CA</div>
    <p id='body41'>•Compiled and presented supply and demand analysis to senior leadership for San Luis Obispo hotel room occupancy.</p>
    <p id='body42'>•Partnered with client to prepare a financial report in support of a loan to secure funding.</p>
    <p id='body43'>•Evaluated marketplace demand for hotel amenities and recommended popular services related to demand.</p>
    <p id='body44'>•Compiled financial income and expense forecasts using a fixed and variable component model.</p>
    <p id='body45'>•Analyzed annual changes in Revenue per Available Room (REVPAR) and Average Daily Rate (ADR) for a national trend overview.</p>
    </div>
</div>
</div>

<div class= 'flexbox-header' style= 'text-align: center;'>&mdash;&emsp;There's Good Eats All Around!&emsp;&mdash;</div>
<div class= 'flexbox-container' style= 'text-align: center;'>Pictured below is Pho Ca Dao, Dirty Birds, and Phil's BBQ</div>
<div class='flexbox-container'>
    <div class='flexbox-item flexbox-item-1'>
       <!-- Pho Ca Dao--> 
      
     
    </div>
    <div class='flexbox-item flexbox-item-2'>
        <!--Dirty Birds-->
        
    </div>
    
    <div class='flexbox-item flexbox-item-3'>
        <!--Phil's BBQ-->
        
    </div>
</div>