<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>


  <div class="not-found content">
    Page Not Found
  </div> 

</body>
<footer>
  <br>
  <%- include('./partials/footer.ejs') %>  
</footer>
</html>