<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

   

  <%- include('./partials/nav.ejs') %>


  <div class="about content">
    <h2>About Me</h2>
    <div class='background-head-image'>
            
      <img src='linkedin photo.jpg' alt='background-head-image-placeholder' style="display: inline;">
    
      
    </div>
    <p>Fact 1</p>
    <p>Fact 2</p>
  </div> 
</body>
<footer>
  <%- include('./partials/footer.ejs') %>  
</footer>
</html>